[submodule "modules/dRowAudio"]
	path = modules/dRowAudio
	url = https://github.com/FigBug/drowaudio.git
[submodule "modules/juce"]
	path = modules/juce
	url = https://github.com/WeAreROLI/JUCE.git
[submodule "modules/gin"]
	path = modules/gin
	url = https://github.com/FigBug/Gin.git
[submodule "modules/plugin_sdk"]
	path = modules/plugin_sdk
	url = https://github.com/TurnipHat/plugin_sdk.git
[submodule "modules/clap-juce-extensions"]
	path = modules/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
	branch = main
[submodule "plugin/Source/3rdparty/resid-1.0/vice-git"]
	path = plugin/Source/3rdparty/resid-1.0/vice-git
	url = https://github.com/sysfce2/VICE.git
[submodule "plugin/Source/3rdparty/resid-fp/libresidfp"]
	path = plugin/Source/3rdparty/resid-fp/libresidfp
	url = https://github.com/libsidplayfp/libresidfp.git